---
title: "Managing Compliance with GitLab"
author: "Fernando Diaz"
author_gitlab: fjdiaz
author_twitter: awkwardferny
categories: unfiltered
image_title: '/images/blogimages/andrew-neel-cckf4TsHAuw-unsplash.jpg'
description: "GitLab makes compliance easy!"
tags: CI/CD, security
postType: Technical Marketing
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Compliance is a concept that has historically been complex and unfriendly. The goal of Compliance Management is to change 
the current paradigm for compliance to create an experience that's simple and friendly. GitLab
provides advanced auditing features as well as merge request approvals based off of different compliance tags.

Watch this short video (2 minutes) to learn how to configure GitLab compliance features.

<iframe width="560" height="315" src="https://www.youtube.com/embed/QV2dIocn-hk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Cover image by [Andrew Neel](https://unsplash.com/@andrewtneel) on [Unsplash](https://unsplash.com/)
{: .note}


